*{
    padding: 0;

 box-sizing: border-box;
}

header{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
z-index: 2;
}
.dancing-script{
    font-family: 'Dancing Scrpit', cursive;
    font-size: 23px;
}
.pisi-logo{
    width: 100px;
    margin-top: 0%;
}
#meniu{
    box-shadow: 7px -8px 5px 5px;
  box-sizing: border-box;
  padding:10px;
  font-size: 24px;
 background: white;
}
nav{
   float:right;

}
a{
    text-decoration: none;
    color: black;
    font-size: 24px;
  padding: 40px;
}
.container{
    
    position: relative;
   width: 1200px;
top:200px;
    margin:auto;
    border: 3px solid orangered;


}
.content-box{
    width: 100%;
    padding: 20px;
}
h1{
 font-size: 36px;
padding-bottom: 20px;
}
.chipi{
    float:right;
    border:3px solid black;
    width:300px;
    margin-left: 30px;
    height: 740px;
}
p{
    padding: 20px;
    margin-right: 10px;
}
#about-us, #our-service, #our-clients {
    
    color:rgb(0,0,64);
    margin-bottom: 50px;
}

.pisi-cu-ochelari{
    left: 50px;
float: left;
height: 400px;
width: 66.666%;
}
.pisi-cu-vin{
   
   float: right;
   height: 800px;
   width: 33.333%;

}
.pisi-cu-figuri{
   
    left: 50px;
    height: 400px;
    width: 66.666%;
    float: left;
}
.cutie-clienti{
    box-sizing: border-box;
  border: 1px solid black;
  margin: 100px;
}
.clear-floats{
    clear: both;
}
.servici-oferite{
   
    float:left;
    width: 29%;
    margin-left: 3%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid black;
  
   
}
#servici-para{
    font-size: 16px;
}
#cutiile-stau{
    display: flex;
    flex-wrap: wrap;
}
h2{
    font-size:36px;
}
.cutiile-stau{
    display: flex;
    flex-wrap: wrap;
}
.clear-floats-1{
    clear: both;
}
h1, .spatiere{
    padding-top: 40px;
}
.scrollToTopBox {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    z-index: 3; 
}

.scrollToTopBox a {
    text-decoration: none;
    color: inherit;
}

.scrollToTopBox:hover {
    background-color: #05008f;
}
